.table-wrapper {
  width: 100%;
}

.table {
  display: block;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  width: auto; /* Changed to auto */
  max-width: 80%;
  margin: auto;
  overflow-x: auto;
  /* Removed max-height and overflow-y properties */
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 2; /* Higher z-index than the first column to ensure it appears above */
  background-color: #ccc;
  color: #222;
}

.table th,
.table td {
  padding: 0.8rem;
}

.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr:hover {
  background-color: #eee;
}

.expand {
  width: 100%;
}

.label {
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
}

.label-draft {
  background-color: #777;
}

.label-live {
  background-color: #42a942;
}

.label-error {
  background-color: #d9534f;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions svg {
  cursor: pointer;
}

.delete-btn {
  color: #e10d05;
}

/* Freeze the first column */
th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #ccc;
}

td:first-child {
  background-color: #eee;
}

/* Add shadow to the right of the first frozen column */
td:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px; /* Adjust this value to change the width of the shadow */
  bottom: 0;
  width: 5px; /* Adjust this value to change the width of the shadow */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  z-index: 2;
}
